body{
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'League Spartan', sans-serif;
    flex-wrap: wrap;
    background-image: url(images/bg-pattern-top-desktop.svg ), url(images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-color: hsl(0, 0%, 98%);
    background-size: 50%, 50%;
    background-attachment: fixed;
    align-items: center;
    height: 100vh;
    width: 100vw;
    contain: strict;
}
/* media querie for body on mobile*/
@media screen and (min-width: 100px) and (max-width: 600px){
    body{
        background-image: url(images/bg-pattern-top-mobile.svg ), url(images/bg-pattern-bottom-mobile.svg);
        background-size: 100%, 100%;
        background-attachment: fixed;
    }
}
.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
  .paragraph-rating{
    display:inline-block;
  }

  #about{
    width: 700px;
    height: 300px;
    margin-left: 150px;
  }
    #about h1{
        font-size: 60px;
        font-weight: 700;
        color:hsl(300, 43%, 22%);
        margin: 20px;
        padding:20px;
        width: 400px;
    }

    #about p{
        font-size: 20px;
        font-weight: 400;
        color:hsl(288, 16%, 44%);
        margin: 20px;
        padding:20px;
        width: 500px;
        line-height: 1.0;
    }
    /* media querie for #about section on mobile*/
    @media screen and (min-width: 100px) and (max-width: 600px){
        #about{
            width: 100%;
            margin-left: 0px;
            margin:20px;
            position: relative;
        }
        #about h1{
            font-size: 40px;
            font-weight: 700;
            color:hsl(300, 43%, 22%);
            margin: auto auto;
            margin-top:10px;
            padding:0px;
            width: 300px;
            text-align: center;
        }
        #about p{
            font-size: 20px;
            font-weight: 400;
            color:hsl(288, 16%, 44%);
            margin: auto auto;
            width: 300px;
            text-align: center;
        }
    }
    
.rating-section-part-one{
    background-color:hsl(300, 24%, 96%);
    color: hsl(300, 43%, 22%);
    font-size: large;
    font-weight: 700;
    width:450px;
    padding-left: 20px;
    border-radius: 10px;
    padding-top:5px;    
}
.rating-section-part-one p{
    margin-left:40px;
}
.rating-section-part-one #star{
    margin-left:5px;
}

.rating-section-part-two{
    background-color:hsl(300, 24%, 96%);
    color: hsl(300, 43%, 22%);
    font-size: large;
    font-weight: 700;
    width:450px;
    padding-left: 20px;
    border-radius: 10px;
    padding-top:5px;
    margin-top:20px;
    margin-left:100px;
}
.rating-section-part-two p{
    margin-left:40px;
}
.rating-section-part-two #star{
    margin-left:5px;
}


.rating-section-part-three{
    background-color:hsl(300, 24%, 96%);
    color: hsl(300, 43%, 22%);
    font-size: large;
    font-weight: 700;
    width:450px;
    padding-left: 20px;
    border-radius: 10px;
    padding-top:5px;
    margin-top:20px;
    margin-left:200px;
}
.rating-section-part-three p{
    margin-left:40px;
}
.rating-section-part-three #star{
    margin-left:5px;
}
/* media querie for #rating on mobile */
@media screen and (min-width: 100px) and (max-width: 600px){
    .rating-section-part-one{
        width:95vw;
        padding:10px;
        text-align: center;
    }
    .rating-section-part-one p{
        margin-left:10px;
        display:block;
        margin: 10px;
    }

    .rating-section-part-two{
        width:95vw;
        padding:10px;
        margin-left:0px;
        text-align: center;
    }
    .rating-section-part-two p{
        margin-left:10px;
        display: block;
        margin:10px;
    }
    .rating-section-part-three{
        width:95vw;
        padding:10px;
        margin-left:0px;
        text-align: center;
        margin-bottom:20px;
    }
    .rating-section-part-three p{
        margin-left:10px;
        display: block;
        margin:10px;
    }
}

/*Review section*/
#review{
    display: flex;
    gap: 30px;
    margin: auto;
}
#review h3{
    color: white;
    margin-bottom: 10px;
}
#review h4{
    color:hsl(333, 80%, 67%);
    margin: 0;
    margin-bottom: 20px;
}
#review p{
    color:white;
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 1.5;
}
#review img{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    float: left;
}
.written-review{
    width: 450px;
    height: 200px;
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
    padding:30px;
}
.second{
    margin-top: 50px;
}
.third{
    margin-top: 100px;
}

/*Media query for #review section on mobile */
@media screen and (min-width: 100px) and (max-width: 600px){
    #review{
    flex-wrap: wrap;
    }
    .written-review{
        width: 300px;
        height:250px;
        margin: auto;
        margin-top:20px;
        background-color: hsl(300, 43%, 22%);
        border-radius: 10px;
        padding:30px;
    }
    #review p{
        padding-bottom: 50px;
    }
}



/*Media query for #about and #review section on laptops*/
@media screen and (min-width : 1224px) and (max-width : 1824px){
    #about{
        width: 500px;
        margin-left: 50px;
      }
      .written-review{
        width: 300px;
        height: 275px;
        margin: 10px;
        margin-top:70px;
        background-color: hsl(300, 43%, 22%);
        border-radius: 10px;
        padding:30px;
    }
    .second{
        margin-top: 100px;
    }
    .third{
        margin-top: 150px;
    }
}
